.bodybox{
	border: 1px;
	padding-top:3px;
  	padding-left:3px;
  	padding-right:3px;
  	padding-bottom:3px;
  	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
 	color: #333;
  	background: #222 !important;
 	 border-color: black;

}
.header{
	  	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
	background: #222 !important;
	border-color: #222 !important;
	color: #fff;
	font-size: 20px;	
}