<div class="row">
	<div class= "panel panel-default col-md-4">
		<div class="panel-heading panel-primary">
			Counts
		</div>
		<div class="panel-footer">Details</div>
	</div>
	<div class= "panel panel-default col-md-4">
		<div class="panel-heading panel-primary">
			Counts
		</div>
		<div class="panel-footer">Details</div>
	</div>
	<div class= "panel panel-default col-md-4">
		<div class="panel-heading panel-primary">
			Counts
		</div>
		<div class="panel-footer">Details</div>
	</div>


</div>